*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-weight: 200;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 6rem;
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  display: block;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

#App {
  font-family: 'Source Sans Pro', sans-serif;
}

.navBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#HeaderContainer {
  display: flex;
  flex-direction: row;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: space-between;
  align-items: center;
  margin: 0 .5rem;
  width: 100%
}

#HeaderContainer a{
  font-family: 'Source Sans Pro', sans-serif;
}

#headerName {
  width: 13rem;
  min-width: 13rem;
}

#headerName a {
  font-weight: 300;
}

.SelectionBar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 0px 20px;
  margin-top: .4rem;
}

.SelectionBar a {
  transform-origin: center top;
  position: relative;
  width: 8rem;
  height: 2rem;
  color:rgb(58, 76, 179);
  margin: 0 30px
}

.SelectionBar a:hover {
  color:rgb(0, 0, 0);
  transform: scale(1.1);
}

.navbar-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.navbar-links a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

.navbar-links a.active {
  font-weight: bold;
}

.active::after {
  content: '';
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 20%;
  border-bottom: 1px solid rgb(94, 118, 255);
  width: auto;
}

@media (max-width: 899px) {
  .navbar-toggle {
      display: block;
  }

  .navbar-links {
      display: none;
  }

  .navbar-links.collapsed {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-links.collapsed a {
    text-align: center;
  }

  .navBarContainer.collapsed{
    display: flex;
    flex-direction: column;
  }
}

#Splitter {
  display: flex;
  margin-top: .5rem;
}

hr {
  border-top: 1px solid rgb(243, 243, 243);
  margin: 10px 0;
  box-sizing: content-box;
  overflow: visible;
}

.work {
  margin: 20px;
  background-color: rgb(226, 226, 226);
  max-width: 720px;
  padding: 2rem;
}

.work div {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 10px;
}

@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

#workContainer {
  animation: slideInFromLeft .13s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 720px;
}

@media (min-width: 1025px) {
  .work {
    width: 700px
  }
}

@media (max-width: 1024px) {
  .work {
    width: 600px
  }
}

@media (max-width: 750px) {
  .work {
      width: 450px
  }
}

@media (max-width: 480px) {
  .work {
      width: 300px
  }
}

.employmentDates {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  width: 10rem;
}

.employerName {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.websiteLink {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color:rgb(46, 77, 255)
}

h3 {
  margin: 0;
}

#ItemsList {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

#educationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  animation: slideInFromLeft .13s ease;
}

@media (max-width: 1024px) {
  #educationContainer {
      width: 600px !important;
  }
}

@media (max-width: 768px) {
  #educationContainer {
      width: 450px !important;
  }
}

@media (max-width: 480px) {
  #educationContainer {
      width: 350px !important;
  }
}

#universities {
  justify-content:center;
  display:flex;
  flex-direction: column;
  margin: 0 20px;
}

.certificationsTable {
  margin: 0 20px;
}

.uniLogo {
  width: 300px;
  padding: 1rem;
  padding-bottom: 0;
}

.education {
  margin-bottom: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 450;
}

#certLink {
  color: rgb(46, 77, 255);
  font-family: 'Montserrat', sans-serif;
  font-weight: 420;
}

#certDate {
  font-family: 'Montserrat', sans-serif;
  font-weight: 420;
}

#certTitle {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(18, 32, 110);
  font-size:110%;
}

#certRow {
  font-family: 'Montserrat', sans-serif;
  font-weight: 420;
  padding: 0
}

.slide-in {
  animation: slideInFromLeft 1s ease;
}