*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-weight: 200;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 6rem;
  margin: 0;
  height: 100%;
  background:
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1) 25%,
      rgba(255, 255, 255, 0) 100%
    ),
    url('./images/stacked-waves.svg') bottom no-repeat;
  background-size: cover;
  background-position: bottom 75%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  display: block;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-top: 0;
}

#App {
  font-family: 'Montserrat', sans-serif;
}

.navBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#HeaderContainer {
  display: flex;
  flex-direction: row;
  font-family: 'Source Sans Pro', sans-serif;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#HeaderContainer a {
  font-family: 'Source Sans Pro', sans-serif;
}

#headerName {
  width: 15rem;
  min-width: 13rem;
  display: flex;
  align-items: flex-start;
  margin-left: 20px;
}

#headerName a {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.SelectionBar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-top: 0.4rem;
}

.SelectionBar a {
  transform-origin: center top;
  position: relative;
  width: 10rem;
  height: 2rem;
  color: rgb(58, 76, 179);
  margin: 0 30px;
}

.SelectionBar a:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.1);
}

.navbar-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
  background: none;
  border: none;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.navbar-links a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

.navbar-links a.active {
  font-weight: bold;
}

.active::after {
  content: '';
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 20%;
  border-bottom: 1px solid rgb(94, 118, 255);
  width: auto;
}

@media (max-width: 899px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
  }

  .navbar-links.collapsed {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-links.collapsed a {
    text-align: center;
  }

  .navBarContainer.collapsed {
    display: flex;
    flex-direction: column;
  }
}

#Splitter {
  display: flex;
  margin-top: 0.25rem;
}

#ItemsList {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

hr {
  border-top: 1px solid rgb(243, 243, 243);
  box-sizing: content-box;
  overflow: visible;
  margin-bottom: 0px;
}

.work {
  background-color: rgb(226, 226, 226, 0.4);
  padding: 16px;
  box-shadow:
    5px 5px 15px #bebebe9c,
    -5px --5px 15px #ffffff8a;
  backdrop-filter: blur(3px) saturate(120%);
  -webkit-backdrop-filter: blur(3px) saturate(120%);
  /* border:.5px solid #12206e; */
}

.workItem {
  margin: 10px;
}

.work div {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  padding: 10px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#workContainer {
  animation: slideInFromLeft 0.13s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
  min-width: 350px;
}

@media (min-width: 1025px) {
  .workItem {
    width: 650px;
  }
}

@media (max-width: 1024px) {
  .workItem {
    width: 550px;
  }
}

@media (max-width: 750px) {
  .workItem {
    width: 450px;
  }
}

@media (max-width: 550px) {
  .workItem {
    width: 350px;
  }
}

.employmentDates {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.logo {
  width: 10rem;
}

.employerName {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
}

.websiteLink {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: rgb(46, 77, 255);
}

h3 {
  margin: 0;
}

#educationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  animation: slideInFromLeft 0.13s ease;
}

@media (max-width: 1024px) {
  #educationContainer {
    width: 600px !important;
  }
}

@media (max-width: 768px) {
  #educationContainer {
    width: 450px !important;
  }
}

@media (max-width: 480px) {
  #educationContainer {
    width: 350px !important;
  }
}

#universities {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.certificationsTable {
  margin: 0 10px;
}

.uniLogo {
  width: 300px;
  padding: 1rem;
  padding-bottom: 0;
}

.education {
  margin-bottom: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 450;
}

#certLink {
  color: rgb(46, 77, 255);
  font-family: 'Montserrat', sans-serif;
  font-weight: 420;
}

#certDate {
  font-family: 'Montserrat', sans-serif;
  font-weight: 420;
}

#certTitle {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(18, 32, 110);
  font-size: 110%;
}

#certRow {
  font-family: 'Montserrat', sans-serif;
  font-weight: 420;
  padding: 0;
}

.slide-in {
  animation: slideInFromLeft 1s ease;
}
